.cpu-container {
  padding: 25px;
  color: #e6edf3;
  font-size: 20px;
}

.cpu-container h1 {
  color: #4ee1ff;
  font-size: 30px;
  margin-bottom: 20px;
}

.cpu-form {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.cpu-form input {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #111;
  color: white;
}

.cpu-form button {
  padding: 10px 20px;
  background: #1f6feb;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.cpu-algo {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.cpu-algo select {
  padding: 10px;
  font-size: 18px;
  background: #111;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
}

.run-btn {
  background: #00c853 !important;
}

.result-section {
  margin-top: 30px;
}

.gantt-chart {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.gantt-block {
  padding: 15px;
  background: #1e2a38;
  border-radius: 6px;
  text-align: center;
  padding: 15px 25px;
  font-size: 18px;
  color: #4ee1ff;
}

.gantt-block .time {
  display: block;
  font-size: 14px;
  color: #ddd;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #444;
  padding: 10px;
  font-size: 18px;
}
